p {
  padding: 0;
  margin: 0;
}
body {
  background-color: firebrick;

  font-family: Arial, Helvetica, sans-serif;
}

.top-grid {
  width: 470px;
  display: grid;
  grid-template-columns: 150px 1fr;
  vertical-align: top;

  border: 3px solid black;
  border-radius: 2px;
}

.title {
  padding-left: 30px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 30px;
}
.puching-pic {
  width: 100%;
  text-align: left;
}

.info {
  padding-left: 10px;
}
.elements {
  width: 150px;
  height: 200px;
  padding-bottom: 10px;
  padding-right: 10px;
  display: grid;

  border: 3px solid black;
}

.info-text {
  width: 320px;
  background-color: rgba(127, 234, 255, 0.997);
  display: block;
}

.counter {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.button {
  background-color: rgba(0, 247, 255, 0.833);
  border: 1px solid rgba(6, 7, 7, 0.833);
  padding: 10px 20px 10px 20px;
  border-radius: 10px;

  color: white;
  font-weight: bold;
  font-size: 18px;

  box-shadow: 5px 5px 5px black;
  text-align: center;
}

.button:active {
  margin-top: 2px;
  margin-bottom: 2px;
  box-shadow: 3px 3px 5px black;
}

.crutons-img {
  display: inline-block;
}

.stuff {
  display: grid;
  grid-template-columns: 160px 1fr;
  column-gap: 10px;
}
