.pog-button {
    background-color: rgb(255, 12, 4);
    color: white;
    border: none;
    border-radius: 7px;
    cursor: crosshair;
    margin-right: 15px;

    padding: 15px;
    padding-right: 14px;
    padding-left: 14px;

    transition: padding 1s, font-weight 1s, font-size 1s;
}

.pog-button:hover {
    opacity: 0.6;
    padding: 30px;
    padding-right: 28px;
    padding-left: 28px;

    font-weight: bold;
    font-size: 20px;
}

.pog-button:active {
    opacity: 0.2;
}

.jedi-button {
    background-color: rgba(253, 116, 11, 0.811);
    border-color: rgb(65, 35, 235);
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;

    margin: 10px;

    cursor: pointer;
    border-radius: 50px;
    border-style: solid;
}

.jedi-button:active {
    margin-top: 13px;
    margin-left: 13px;
}

.lmfao-button {
    background-color: rgb(45, 193, 243);
    width: 130px;
    height: 45px;
    cursor: pointer;
    border-radius: 50px;
    border-style: solid;
    color: white;
    font-weight: bold;
    font-size: 17px;
    transition: background-color 0.15s, color 0.15s;

}

.lmfao-button:hover {
    background-color: white;
    color: rgb(45, 193, 243);
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.12);
}

.styled-font1 {
    font-family: Kimberley;
    font-size: 100;
    color: rgb(15, 15, 13);
    letter-spacing: 0.9;

}

.styled-font1:hover {
    color: black;
}

@font-face {
    font-family: "Kimberley";
    src: url("ANDYB.TTF") format("truetype");
  }
  h1 { font-family: "Kimberley", sans-serif }